[[source]]
name = "pypi"
url = "https://pypi.org/simple/"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
pyinstaller = "*"

[packages]
click = "*"
requests = "*"
lxml = "*"
ebooklib = "*"
pyyaml = "*"

[requires]
python_version = "3"

[scripts]
pylint = "pylint __main__.py wenku8collector"
autopep8 = "autopep8 --in-place --aggressive --aggressive --recursive __main__.py wenku8collector"
build = "pyinstaller __main__.py --name wenku8collector --onefile --noconfirm"
